* {
  margin: 0;
  padding: 0;
}

.App {
  padding: 1em 2em;
  background-color: green;

display: flex;
justify-content: space-between;
color: white;

}

.nav{
  display: flex;
  gap: .5em;
}

.help{
  display: flex;
  align-items: center;
  text-align: center;
  height: 80vh;
  justify-content: center;
}

p {
  text-align: center;
  font-size: .8rem;
}
 
button{
  
    font-size: 12px;
    border-radius: 8px;
    padding: 3.7px 12px;
    color: black;
    background-color: white;
    border: 1px solid black;
  
}